# dont forget to update appleboy/ssh-action@{version}

name: deploy server
on:
  push:
    branches: [master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH into digitalocean and update repo
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST }} # IP address of the server you wish to ssh into
          key: ${{ secrets.SSH_KEY }} # Private or public key of the server
          username: ${{ secrets.SSH_USERNAME }} # User of the server you want to ssh into
          script: |
            ls
            cd ./apps/server
            git fetch
            git pull origin master
            npm install
            npm audit fix
            npm run build
            pm2 reload server --update-env
